.menu {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 50px 5px 50px;
    background: rgba(0,0,0,0.15);
    z-index: 900;
    color: var(--main-color);
        mix-blend-mode: difference;
        transform: translate3d(0,0,0);
    &__logo {
        text-decoration: none;
        font-size: 24px;
        color: var(--main-color);
        mix-blend-mode: difference;
        transform: translate3d(0,0,0);
        position: relative;
        transition: 1s all;
        font-family: "Anta", sans-serif;
        &:hover {
            text-decoration: none;
            color: var(--main-color);
            transition: 1s all;
        }
    }
    &__list {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }
    &__item {
        list-style-type: none;
        display: flex;
        font-size: 24px;
        margin-right: 30px;
        color: var(--main-color);
        &:last-child {
            margin-right: 0;
        }
        a {
            text-decoration: none;
            color: var(--main-color);
            font-family: "Anta", sans-serif;
            &:hover {
                color: var(--main-color);
            }
        }
    }
}
